{{> navbar}}

<!-- HEADING -->
<div id="business" class="heading">
    <h1>Business Consulting</h1>
    <h4>Time is money. Gain more of both.</h4>
</div>

<!-- DESCRIPTION -->
<div class="container container__description">
  <div class="description">
    <h3 class="description-title">Running a business is hard.</h3>
    <p class="description-body">
      <strong>But you already knew that.</strong> What you may not know are the various ways in which you can simplify your business
      operations through a shift in approach, structure, and the adoption of low-cost tools and services.
    </p>
    <p class="description-body">
      <strong>This is the knowledge we possess.</strong> Let us be your partner and we will help you optimize your business operations
      so that your valuable time can be spent working on what's really important - serving your customers.
    </p>
  </div>
</div>

<!-- CONTENT -->
{{#each banners}}
  {{#with this}}
    <div class="banner {{style}}">
      <div class="container container__services">
        <div class="banner-body">
          <div class="banner-title">
            <h3>{{title}}</h3>
            <h4>{{subtitle}}</h4>
          </div>
          <p>{{body}}</p>
          <p class="banner-text">{{offerings}}</p>
        </div>
        <div class="banner-img">
          <img src="./images/{{image}}">
        </div>
      </div>
    </div>
  {{/with}}
{{/each}}

{{> footer}}
