{{> navbar}}

<!-- HEADING -->
<div id="product" class="heading">
    <h1>Product Development</h1>
    <h4>Ideas are a dime a dozen. The magic is in the execution.</h4>
</div>

<!-- DESCRIPTION -->
<div class="container container__description">
  <div class="description">
    <h3 class="description-title">Build Anything</h3>
    <p class="description-body">
      Product development encompasses everything from software to consumer products to services. We can help you
      develop your solution, regardless of the format that the solution may take. And if all you have right now is
      a problem, we can guide you down the path of figuring out the right solution.
    </p>
  </div>
</div>

<!-- CONTENT -->
{{#each banners}}
  {{#with this}}
    <div class="banner {{style}}">
      <div class="container container__services">
        <div class="banner-body">
          <div class="banner-title">
            <h3>{{title}}</h3>
            <h4>{{subtitle}}</h4>
          </div>
          <p>{{body}}</p>
          <p class="banner-text">{{offerings}}</p>
        </div>
        <div class="banner-img">
          <img src="./images/{{image}}">
        </div>
      </div>
    </div>
  {{/with}}
{{/each}}


{{> footer}}
